@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Rock+Salt&family=Wix+Madefor+Display:wght@500;800&display=swa');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #36454F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:#396E94;
}

nav a:hover {
    background-color: #36454F;
    color: white
}

.home-title{
    color: whitesmoke;
    font-family: 'Wix Madefor Display', 'Rock Salt', 'Montserrat';
    font-size: 2em;
    margin-top: 10px; 
}

h4 {
    color: whitesmoke;
}

.book, .join {
    color: #457b9d;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    background-color: #E1C21B;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #457b9d;
    color: #36454F;
}

.msg h2 {
    color: whitesmoke;
    font-family: 'Wix Madefor Display', 'Rock Salt', 'Montserrat';
}

.msg p {
    color: whitesmoke;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    color: whitesmoke;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #E1C21B;
    text-decoration: none;
}

footer a:hover{
    background-color: #457b9d;
    color: white 
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.msg {
  background-color: #396E94;
  line-height: 1.5em;
  padding: 35px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

footer .social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

main section img{
    box-sizing: border-box;
}
/* 
* {
    border: 2px solid blue;
}


