:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --secundario: #023047;
    --primario: #ffb703;
    --gris: #757575;
    --fuente-principal: 3.8rem;
}

html {
    font-size: 62.5%;   
}

body {
    font-size: 1.5rem; /* 1rem = 10px */
    font-family: 'Inter', sans-serif;   
}

.nav_bar {
    background-color: var(--blanco);
}

.principal {
    display: flex;
    flex-direction: column;
    text-decoration: overline;    
    margin-top: 1.5rem;
    max-width: 120rem;
    margin: 0 auto;
}

@media (min-width: 828px) {
    .principal{
        flex-direction: row;
        text-decoration: none;
        justify-content: center;
    }
}

.principal a {
    text-decoration: none;
    display:block;
    text-align: center;
    padding: 2rem 7rem;
    font-weight: 500;
    color: var(--oscuro);  
}

.principal a:hover{
    color: #DB5461;
    text-decoration: none;
    text-decoration-line: overline;
}
